antpofuk_aplikacija_1/web/WEB-INF/wsdl/localhost_8084/antpofuk_aplikacija_1/AIRP2WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.antpofuk.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.antpofuk.nwtis.foi.org/" name="AIRP2WS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.antpofuk.nwtis.foi.org/" schemaLocation="http://localhost:8084/antpofuk_aplikacija_1/AIRP2WS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajAvionePoletjeleSAerodroma">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodroma"/>
</message>
<message name="dajAvionePoletjeleSAerodromaResponse">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodromaResponse"/>
</message>
<message name="dajVazeceMeteoPodatke">
<part name="parameters" element="tns:dajVazeceMeteoPodatke"/>
</message>
<message name="dajVazeceMeteoPodatkeResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeResponse"/>
</message>
<message name="dajZadnjeNPreuzeteAerodromPodatke">
<part name="parameters" element="tns:dajZadnjeNPreuzeteAerodromPodatke"/>
</message>
<message name="dajZadnjeNPreuzeteAerodromPodatkeResponse">
<part name="parameters" element="tns:dajZadnjeNPreuzeteAerodromPodatkeResponse"/>
</message>
<message name="ucitajKonfiguraciju">
<part name="parameters" element="tns:ucitajKonfiguraciju"/>
</message>
<message name="ucitajKonfiguracijuResponse">
<part name="parameters" element="tns:ucitajKonfiguracijuResponse"/>
</message>
<message name="dajAvioneUIntervalu">
<part name="parameters" element="tns:dajAvioneUIntervalu"/>
</message>
<message name="dajAvioneUIntervaluResponse">
<part name="parameters" element="tns:dajAvioneUIntervaluResponse"/>
</message>
<message name="dajZadnjePreuzeteAerodromPodatke">
<part name="parameters" element="tns:dajZadnjePreuzeteAerodromPodatke"/>
</message>
<message name="dajZadnjePreuzeteAerodromPodatkeResponse">
<part name="parameters" element="tns:dajZadnjePreuzeteAerodromPodatkeResponse"/>
</message>
<message name="dajSveKorisnike">
<part name="parameters" element="tns:dajSveKorisnike"/>
</message>
<message name="dajSveKorisnikeResponse">
<part name="parameters" element="tns:dajSveKorisnikeResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<portType name="AIRP2WS">
<operation name="dajAvionePoletjeleSAerodroma">
<input wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajAvionePoletjeleSAerodromaRequest" message="tns:dajAvionePoletjeleSAerodroma"/>
<output wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajAvionePoletjeleSAerodromaResponse" message="tns:dajAvionePoletjeleSAerodromaResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatke">
<input wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajVazeceMeteoPodatkeRequest" message="tns:dajVazeceMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajVazeceMeteoPodatkeResponse" message="tns:dajVazeceMeteoPodatkeResponse"/>
</operation>
<operation name="dajZadnjeNPreuzeteAerodromPodatke">
<input wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajZadnjeNPreuzeteAerodromPodatkeRequest" message="tns:dajZadnjeNPreuzeteAerodromPodatke"/>
<output wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajZadnjeNPreuzeteAerodromPodatkeResponse" message="tns:dajZadnjeNPreuzeteAerodromPodatkeResponse"/>
</operation>
<operation name="ucitajKonfiguraciju">
<input wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/ucitajKonfiguracijuRequest" message="tns:ucitajKonfiguraciju"/>
<output wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/ucitajKonfiguracijuResponse" message="tns:ucitajKonfiguracijuResponse"/>
</operation>
<operation name="dajAvioneUIntervalu">
<input wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajAvioneUIntervaluRequest" message="tns:dajAvioneUIntervalu"/>
<output wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajAvioneUIntervaluResponse" message="tns:dajAvioneUIntervaluResponse"/>
</operation>
<operation name="dajZadnjePreuzeteAerodromPodatke">
<input wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajZadnjePreuzeteAerodromPodatkeRequest" message="tns:dajZadnjePreuzeteAerodromPodatke"/>
<output wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajZadnjePreuzeteAerodromPodatkeResponse" message="tns:dajZadnjePreuzeteAerodromPodatkeResponse"/>
</operation>
<operation name="dajSveKorisnike">
<input wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajSveKorisnikeRequest" message="tns:dajSveKorisnike"/>
<output wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dajSveKorisnikeResponse" message="tns:dajSveKorisnikeResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.antpofuk.nwtis.foi.org/AIRP2WS/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
</portType>
<binding name="AIRP2WSPortBinding" type="tns:AIRP2WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajAvionePoletjeleSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeNPreuzeteAerodromPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ucitajKonfiguraciju">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvioneUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjePreuzeteAerodromPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveKorisnike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AIRP2WS">
<port name="AIRP2WSPort" binding="tns:AIRP2WSPortBinding">
<soap:address location="http://localhost:8084/antpofuk_aplikacija_1/AIRP2WS"/>
</port>
</service>
</definitions>